ICONS/Makefile
Makefile
VisualC6/Makefile
VisualC8/Makefile
config.status
data/Makefile
doc/Makefile
src/MAC/Makefile
src/Makefile
src/POSIX/Makefile
src/SDL/Makefile
src/.deps
src/SDL/.deps
src/POSIX/.deps
*.a
src/prboom
src/prboom-game-server
autom4te.cache
